<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530806251607-hnq9rme5emk58m0582qhaltjagp374pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530806251607-hnq9rme5emk58m0582qhaltjagp374pi</string>
	<key>API_KEY</key>
	<string>AIzaSyBpK0Jxro_td-LfYKHvj5jNFV3TPVo6ugI</string>
	<key>GCM_SENDER_ID</key>
	<string>530806251607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beau.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todo-22e9b</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-22e9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:530806251607:ios:3071a3dbb8448d6efd0312</string>
</dict>
</plist>
